:root {
  --primary-color: #C46D5E;
  --secondary-color: #DAA588;
  --accent1-color: #F56960;
  --accent2-color: #F3C98B;
  --heading-font: 'Playfair Display', serif;
  --body-font: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;
}

.hero article {
  position: absolute;
  bottom: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
}

.hero article img {
  float: right;
  width: 125px;
  margin-left: 1rem;
}

.socialmedia {
  text-decoration: none;
}

header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 1rem;
  background-color: #c46d5e; /* primary-color */
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.history-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  align-items: center;
}

.adventure-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  margin: 1rem 0;
}

figure {
  text-align: center;
}

figure img {
  width: 100%;
  border-radius: 8px;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #daa588; /* secondary-color */
  padding: 1rem;
}

.social-icons {
  display: flex;
  gap: 0.5rem;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

